---
const {lang} = Astro.params;
const {cats, selectedCat} = Astro.props;

// link to back to articles
const content = {
    'en': {'name': 'all'},
    'ar': {"name": 'الكل'}
}
---
<ul id="cats-list">
    <li>
        <a class:list={["mb-poppins", {"current": selectedCat === null}]} href={`/${lang}/articles/1`}>{content[lang].name}</a>
    </li>
    {
        Object.keys(cats).map(cat => {
            return <li>
                <a class:list={["mb-poppins", {"current": cat === selectedCat}]} href={`/${lang}/articles/${cats[cat][lang].slug}/1`}>{cats[cat][lang].name}</a>
            </li>
        })
    }
</ul>
<style is:global lang="scss">
    @use '../styles/mixins.scss' as *;

    #cats-list{
        margin: 2rem 0 0rem 0;

        li {
            display: inline-block;

            a {
                font-size: 2rem;
                font-weight: 300;
                color: black;
                text-transform: capitalize;
                @include withRtl('margin', 0 0 0 3rem, 0 3rem 0 0);

                &.current {
                    font-weight: bold;
                    padding: 0rem 0.8rem;
                    border-bottom: 0.2rem solid black;
                }
            }
        }
    }
</style>