---
import LangPicker from './LangPicker.astro';

import paths from '../locals/nav.json';
import barsSolid from '../images/bars-solid.svg';

const {lang} = Astro.params;

let currentPathId = null;
Object.keys(paths).forEach(path => {
    if(Astro.url.pathname.includes(paths[path][lang].slug)) {
        currentPathId = path;
    }
});
---
<nav x-data="{open: false}">
    <div id="menu-btn" @click="open = !open">
        <img src={barsSolid} alt="">
    </div>
    <ul id="link-list" x-show="open" x-cloak x-collapse>
        {
            Object.keys(paths).map(path => {
                return <li>
                    <a 
                        class:list={[
                            'mb-montserrat', 
                            {'current': path === currentPathId}
                        ]}
                        href={`/${lang}/${paths[path][lang].url}`}>
                        {paths[path][lang].name}
                    </a>
                </li>
            })
        }
    </ul>
    <LangPicker />
</nav>
<style is:global lang="scss">
    @use '../styles/mixins.scss' as *;
    
    nav {
        align-self: end;
        margin-bottom: 4rem;
        width: 100%;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: unset;
            max-width: 41.5rem;
            margin: 0 auto 4rem auto;
        }

        #menu-btn {
            display: none;
            width: 0;

            @media screen and (max-width: 768px) {
                display: inline-block;
                cursor: pointer;
                width: 100%;
                grid-row: 1 / 2;
                text-align: center;

                img {
                    width: 2.8rem;
                }
            }
        }

        #link-list {
            @media screen and (min-width:769px){
                display: inline-block!important;
                height: unset!important;
                overflow: unset!important;
            }

            @media screen and (max-width: 768px) {
                grid-column: 1 / 3;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            li {
                display: inline-block;
                margin: 0 0.8rem;

                @media screen and (max-width: 768px) {
                    margin: 0.5rem 0;
                    &:first-child {
                        margin-top: 2rem;
                    }
                }

                a {
                    font-size: 2rem;
                    font-weight: 300;
                    text-transform: capitalize;
                    color: black;

                    &.current {
                        font-weight: 500;
                        border-bottom: 0.2rem black solid;
                        padding-bottom: 0.5rem;

                        @media screen and (max-width: 768px) {
                            border-bottom: unset;
                            padding-bottom: unset;
                        }
                    }
                }
            }
        }

        #lang-picker {
            width: 100%;
            max-width: 9rem;
            position: relative;
            border: 0.1rem solid black;
            border-radius: 2.5rem;
            padding: 0.1rem 1rem;
            @include withRtl('margin', 0 0 0 5rem, 0 5rem 0 0);

            @media screen and (max-width: 768px) {
                grid-row: 1 / 2;
                margin: 0 auto;
                @include withRtl('margin', 0 auto, 0 auto);
            }

            #box-ctrls {
                width: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;

                #picked {
                    width: 100%;
                    font-size: 2rem;
                    font-weight: 500;
                    text-transform: capitalize;

                    [lang='ar'] & {
                        line-height: 2.2rem;
    		            height: 1.8rem;
                    }
                }

                img {
                    width: 1.25rem;
                }
            }

            #box-list {
                width: 100%;
                position: absolute;
                left:0;
                margin-top: 0.2rem;
                background-color: white;

                li {
                    text-align: center;
                    display: block;
                    font-weight: 300;
                    font-size: 2rem;

                    a {
                        font-size: 2rem;
                        font-weight: 300;
                        text-transform: capitalize;
                        color: black;
                    }
                }
            }
        }
    }
</style>